@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #222222;
  color: white;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
@layer utilities {
  @keyframes gradientChange {
      0% {
          background-position: 0%
      }

      50% {
          background-position: 100%
      }

      100% {
          background-position: 0%
      }
  }

  .gradient {
      background: linear-gradient(90deg, blue, red);
      background-size: 200% 200%;
  }

  .element-to-rotate {
      animation: gradientChange 4s ease infinite;
  }
}